#                                           Assignment 3

### 1 .  Remove duplicates from a list?
* hint : convert list into set

In [4]:
a=['ketul','hardik','ketul']

setA=set(a)
setA

{'hardik', 'ketul'}

### 2. Write a Python program to print the following floating numbers upto 2 decimal places?
* num = 3.14523
* o/p - 3.14#

In [32]:

x = 3.1415926
y = 12.9999
print("\nOriginal Number: ", x)
print("Formatted Number: {:.2f}".format(x));
print("Original Number: ", y)
print("Formatted Number: {:.3f}".format(y));
print()

Original Number:  3.1415926
Formatted Number: 3.14
Original Number:  12.9999
Formatted Number: 13.000

### 3. Write a Python program to print the following floating numbers without any decimal places
* num = 3.14523
* o/p - 3

In [34]:
num = 3.14523
print(round(num))
print(int(num))

3
3

### 4. Create a set containing numbers 1 to 5

In [6]:
numset={1,2,3,4,5}

### 5. convert list1 into set and print the data type
* convert list1 and store it in X 
* print the datatype of X

In [8]:
list1=["hello","world"]
setB=set(list1)
print(type(setB))

<class 'set'>

### 6. Create a set of mixed data types
* eg: (int, float, string)

In [9]:
mixSet={1,2,3,1.25,1.54,"mix Number"}
mixSet

{1, 1.25, 1.54, 2, 3, 'mix Number'}

### 7. create a Tuple containing numbers form 1 to 5?
* Append number 25 to the tuple if possible?
* print the length of the tuple

In [35]:
tpl=(1,2,3,4,5)
lsttpl=list(tpl)
lsttpl.append(25)
tpl=tuple(lsttpl)
print(len(lsttpl))
print(len(tpl))

6
6

### 8. create a Dictionary containing numbers from 1 to 5?
*  key = one, value = 1
* eg: {'one':1}
* print dictionary value using key "one"

In [17]:
dict1={'one':1,'two':2,'Three':3,'Four':4,"FIve":5}

dict1['one']

1

### 9. Perform following operations on a dictionary?
* Print all keys of the dictionary
* Print all values of the dictionary
* print dictionary

In [20]:
print(dict1.keys())
print(dict1.values())
print(dict1)

dict_keys(['one', 'two', 'Three', 'Four', 'FIve'])
dict_values([1, 2, 3, 4, 5])
{'one': 1, 'two': 2, 'Three': 3, 'Four': 4, 'FIve': 5}

### 10 nested tuple
* n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
* access the element 3 from the above tuple

In [21]:
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
n_tuple[2][2]

3

### 11.Removing elements from a dictionary

* create a dictionary
* remove a particular item, returns its value

In [56]:
# Output: 16
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
# remove an arbitrary item, return (key,value)
# Output: (5, 25)


t1=list(squares.items())
t1
del t1[0]
del t1[0]
del t1[0]
del t1[0]

squares=dict(t1)

squares

{5: 25}

### 12 accessing elements from a nested dictionary
* access the element "for" in the nested dictionary below

In [28]:

# Creating a Dictionary
Dict = {'Dict1': {1: 'Geeks'},'Dict2': {'Name': 'For'}}
        

Dict['Dict2']['Name']

'For'