# Assignment 6

#### Q 1  Write a Python function to multiply all the numbers in a list. Go to the editor
#### Sample List : (8, 2, 3, -1, 7)
#### Expected Output : -336

In [ ]:
def number_multiplication(*n):
    multi=1
    for i in n:   
        multi=multi*i
    return multi

# n=8, 2, 3, -1, 7

number_multiplication(8,2,3,-1,7)

-336

#### Q 2 Write a Python function that checks whether a passed string is palindrome or not

In [ ]:
# your code goes here
# palidrome , example= ketul=lutek

def ispalidrome(a):
    if a.lower()==a[::-1].lower():
        return True
    return False

a='Wow'
print(ispalidrome(a))


#Anadrome function
def isAnadrome(n,m):
    if sorted(n)==sorted(m):
        return True
    return False

str1='level'
str2='evlek'

isAnadrome(str1,str2)

True

False

In [ ]:
#Anadrome function Using Loops

str1='java'
str2='ajv'

cnt=0
for i in str1:
    for j in str2:
        if i==j:
            cnt+=1
            break
                    
if cnt==len(str1) and cnt==len(str2):
    
    print("both string are Anadrome")
else:
    print("both string are not Anadrome")

both string are not Anadrome

#### Q 3 Write a Python function that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically. Go to the editor
#### Sample Items : green-red-yellow-black-white
#### Expected Result : black-green-red-white-yellow

In [ ]:
def hyphon_separated(n):
    # n=input().split("-")
   
    x=sorted(n)
    y=("-").join(x)
    print(y)
n=input().split("-")
hyphon_separated(n) 
   


    # obj=list(enumerate(n,0))
    # print(obj)
    # obj=dict(sorted(obj,key=lambda x:x[1]))
    # print(obj)
    # return ("-").join(obj.values())

green-red-yellow-black-white
black-green-red-white-yellow

#### Q 4 Write a Python program to access a function inside a function

In [ ]:
# your code goes here

def add_number(lst1,num2):
    if max(lst1)>num2:
        return True
    return "Your argument-2 is Out of range"

def check_list(lst,num):
    res=0
    arr=[]
    if add_number(lst,num)==True:
        for i in lst:
            if i>num:
                arr.append(i)
                res=res+i
        return (arr,res)
    return ("Not found")

lst4=[1,2,3,4,5,6]

check_list(lst4,2)

([3, 4, 5, 6], 18)

#### Q 5 Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
#### Example: If the following n is given as input to the program: 10
####Then, the output of the program should be: 0,2,4,6,8,10

In [ ]:
n=int(input("Enter number:"))
emt=[]
for i in range(0,n+1):
    if i%2==0:
        print(i,end=",")

Enter number:10
0,2,4,6,8,10,

#### Q 6 By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

In [ ]:
l1=[12,24,35,70,88,120,155]

k3=[]        
kt=[k3.append(l1[i]) if i%2==1 else "" for i in range(0,len(l1))]
k3

[24, 70, 120]

#### Q 7 By using list comprehension, please write a program generate a 3 * 5 * 8  3D array whose each element is 0.
#### Hints: Use list comprehension to make an array.

In [ ]:
array = [[([0 for col in range(8)]) for col in range(5)] for col in range(3)]

array

[[[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]]]

#### 8. Write a function that asks for an integer input and prints its square. Use a while loop with a try, except, else block to account for incorrect inputs.

In [ ]:
def sq(n):
    return n*2

while True:
    try:
        a=int(input())
        a=sq(a)
        b=int(input())
        print(a/b)
        
    except:
        print("Error")

    else:
        print("Try block successfully run")
        break
        
    finally:
        print("After Try and else execution completed run finally\nAlso, after error finally run")

10
5
4.0
Try block successfully run
After Try and else excetion completed run finally
Also, after error finally run

+### Q 9. Handle the exception thrown by the code below by using try and except blocks. Also identify the type of error.

In [ ]:
#code here
try:
    for i in ['a','b','c']:
        print(i**2)

except TypeError:
   print ("Loop Error look into once")

Loop Error look into once

### Q 10. divide a number by other and when there is divide-by-zero situation, raise ZeroDivisionError.

Eg. 
1. 5 / 2 => print 2.5
2. 5 / 0 => print ZeroDivisionError

In [ ]:
try:
    a=5
    b=2
    print(a/b)

except ZeroDivisionError as a:
    print("Division:",a)
except Exception:
    print("no error12")
else:
    print("Fine!!! Your code works fine")
finally:
    print("Don't worry!!!")

2.5
Fine!!! Your code works fine
Don't worry!!!