## Evaluation 1

Q-1 What does sequence mean and which three types of data fall into this category?

A sequence data type is a collection of objects ordered by a specific position.

Strings, lists, and tuples are the data types based on sequences. 
The common sequence operations, such as indexing, concatenation, and slicing, but also have type-specific method calls.

Q-3 Consider a list (list = []). You can perform the following commands:
insert i e: Insert integer at the position.
print: Print the list.
remove i.e: Delete the first occurrence of integer.
append i.e: Insert integer at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.
Initialize your list and read in the value followed by lines of commands where each command will be of 
the types listed above. Iterate through each command in order and perform the corresponding 
operation on your list.
Example
N = 4
Append 1 
Append 2
Insert 3 1
Print 
Output: [1, 3, 2]

In [31]:
list1=[]

list2=1,2,3,4,5

list1.extend(list2)


list1.insert(4,6) 

list1.pop(0)  # Delete the first occurrence of integer

list1.append(7)  # Insert integer at the end of the list.

list1.sort() #Sort the list.

list1.pop() # Pop the last element from the list

list1.reverse() # Reverse the list.

print(list1)

list2=[]
list2.append(1)
list2.append(2)
list2.insert(1,3)

print(list2)

[6, 5, 4, 3, 2]
[1, 3, 2]

Q-4 Write a Python program to get a string from a given string where all occurrences of its first char have 
been changed to '$', except the first char itself.


Sample String : 'restart'

Expected Result : 'resta$t'

In [38]:
str1='restart'

result = str1[0] + str1[1:].replace(str1[0], '$')

result

'resta$t'

Q-5 Write a Python program to get a single string from two given strings, separated by a space and swap 
the first two characters of each string.

Sample String : 'abc', 'xyz'

Expected Result : 'xyc abz'

In [73]:
st1,st2='abc','xyz'

x = st2[0:2] + st1[2]
y = st1[:2] + st2[2:]
 
print(x+" "+y)

xyc abz

Q-6 Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the 
given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, 
leave it unchanged.

Sample String : 'abc'

Expected Result : 'abcing'

Sample String : 'string'

Expected Result : 'stringly'

In [77]:
str1='abc'
str1=str1+'ing'

print(str1)

str2='string'
str2='string'+'ly'

print(str2)

abcing
stringly

Q-7 Write a program to get the input and convert it as a tuple.

Input: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

Output: (‘0’, ‘1’, ‘2’, ‘3’, ‘4’, ‘5’, ‘6’, ‘7’, ‘8’, ‘9’)

In [109]:
lst=input().split(",")

lst=tuple(lst)

lst

0,1,2,3,4,5,6,7,8,9

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

Q-8 Write a program in Python to remove duplicate items from a list.

Input: [2,3,4,5,2,6,3,2]

Output: [2,3,4,5,6]

In [88]:
Inp= [2,3,4,5,2,6,3,2]
inp=set(Inp)
inp=list(inp)
inp

[2, 3, 4, 5, 6]

Q-9 Write a Python program to add an item in a tuple.

Input : t = (4, 6, 2, 8, 3, 1) adding items : 5, 20, 25

Output t = (4, 6, 2, 8, 3, 1, 5, 20, 25)

In [91]:
t = (4, 6, 2, 8, 3, 1) 

t=list(t)

ad=5,20,25

t.extend(ad)

t=tuple(t)

t

(4, 6, 2, 8, 3, 1, 5, 20, 25)

In [1]:
t = (4, 6, 2, 8, 3, 1) 
ad=5,20,25

t+ad

(4, 6, 2, 8, 3, 1, 5, 20, 25)

Q-10 Write a Python program to convert a tuple to a string.

Input: tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')

Output: exercises

In [3]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')

for i in tup:
    print(i,end="")

exercises

In [4]:
print((',').join(tup))

e,x,e,r,c,i,s,e,s

Q-11 Write a Python program to check whether an element exists within a 
tuple

Input : to check r and 5 present in given tuple, 
    
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

Output: True , False

In [97]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

if "r" and 5 in tuplex:
    print("True")
else:
    print("False")

False

Q-12 Write a Python script to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [99]:
x={0: 10, 1: 20}
x[2]=30
x

{0: 10, 1: 20, 2: 30}

Q-13 Write a Python script to concatenate the following dictionaries to create a new one.
Sample Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [107]:
dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Q-14 Write a Python script to merge two Python dictionaries.

Sample 

d1 = {'a': 100, 'b': 200}

d2 = {'x': 300, 'y': 200}
 
Sample Output: {'x': 300, 'y': 200, 'a': 100, 'b': 200}

In [108]:
d1 = {'a': 100, 'b': 200}

d2 = {'x': 300, 'y': 200}


d2.update(d1)

d2

{'x': 300, 'y': 200, 'a': 100, 'b': 200}

Q-15 Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If 
the string length is less than 2, return instead of the empty string.

Sample String : 'w3resource'

Expected Result : 'w3ce'

Sample String : 'w3'

Expected Result : 'w3w3'

Sample String : ' w'

Expected Result : Empty String

In [121]:
str15 = 'w3resource'

print(str15[0:2]+str15[len(str15)-2:])

str16='W3'

print(str16*2)

str17='w'

if len(str17)<2:
    print("Empty string")

w3ce
W3W3
Empty string