# Ketul Python Evalution

Q1) Write a program which will find all such numbers which are divisible by 7 but are not a 
multiple of 5,between 2000 and 3200 (both included).The numbers obtained should be 
printed in a comma-separated sequence on a single line.

In [ ]:
empt=[]
for i in range(2000,3200+1):
  if i%7==0 and i%5!=0:
    empt.append(i)
print(empt)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

2. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) 
such that is an integral number between 1 and n (both included). and then the program 
should print the dictionary. 
Suppose the following input is supplied to the program: 8 
Then, 

the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [51]:
n= int(input())

empt=[]
for i in range(1,n+1):
    res=i*i
    empt.append(res)
print(dict(enumerate(empt,1)))

## Method-2
dict1={}
for j in range(1,n+1):
  dict1[j]=j*j
dict1

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

3. Write a program that accepts a sentence and calculate the number of upper case letters and 
lower case letters. (Marks-3) 
Suppose the following input is supplied to the program: Hello world! 
Then, the output should be: UPPER CASE 1 LOWER CASE 9

In [52]:
str1="Hello world!"

Upper_count=0
Lower_count=0

for i in str1:
  if i.isupper():
    Upper_count+=1
  elif i.islower():
    Lower_count+=1

print(f"Upper Case:- {Upper_count} Lower Case:- {Lower_count} ")

Upper Case:- 1 Lower Case:- 9

4. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The 
element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; 
j=0,1,¡-Y-1. (Marks-3) 


Example:-Suppose the following inputs are given to the program: 3,5 
Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [53]:
rows=int(input())
columns=int(input())

# [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

arr=[[0 for x in range(columns)] for row in range(rows)]


for row in range(rows):
    for col in range(columns):
        arr[row][col]=row*col

arr

3
5

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

5. Use a list comprehension to square each odd number in a list. The list is input by a sequence 
of comma-separated numbers. (Marks-3) 
Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 
Then, the output should be: 1,9,25,49,81

In [ ]:
Lst=input().split(",")

Lst1=[(int(i)*int(i)) for i in Lst if int(i)%2==1]

print(Lst1)

1,2,3,4,5,6,7,8,9
[1, 9, 25, 49, 81]

6. Define a function with a generator which can iterate the numbers, which are divisible by 7, 
between a given range 0 and n.

In [57]:
def Generator(n):

  for i in range(0,n+1):
    if i%7==0:
      print(i)

num=int(input())
Generator(num)

49
0
7
14
21
28
35
42
49

7. Write a method which can calculate square value of number

In [58]:


def Method(num):
  return num*num
  
  
n=int(input())
Method(n)

7

49

8. Write a program which can filter odd numbers in a list by using filter function 
(Makrs-3)

In [62]:
def odd(n):

  if n%2==1:
    return True
  else:
    return False  


l1=[1,2,3,4,5,6,7,8,9,10]

list1=list(filter(odd,l1))

print(list1)

[1, 3, 5, 7, 9]

In [60]:
def Filter_Func(n):
  if n%2==0:
    print(n,end=" ")

n=int(input())

for i in range(0,n+1):
  Filter_Func(i)




#### Method 01
print("\n")

def Filter_Odd_Number(n):
  Filter=[k for k in range(n+1) if int(k)%2==0]
  return Filter

Filter_Odd_Number(n)

9
0 2 4 6 8

<filter object at 0x7f3932ca06d0>

9. Write a program which can map () to make a list whose elements are cube of elements in a 
given list

In [64]:
def Cube(n):
    
  return n*n*n


lst=[1,2,3,4,5,6]

print(list(map(Cube,lst)))

[1, 8, 27, 64, 125, 216]

10. Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" 
or "Yes", otherwise print "No".

In [ ]:
string=input()

# lst=["Yes","yes","YES"]

# if string in lst:

if string=="yes" or string=="YES" or string==("Yes"):
  print("Your String is Accepted. your String is",string)
else:
  print("You are Inputed Wrong String")

yes
Your String is Accepted. your String is yes

11. Write a program that computes the net amount of a bank account based a transaction log 
from console input. The transaction log format is shown as following: D means deposit while 
W means withdrawal. Suppose the following input is supplied to the program: (Marks-4) 
D 100 
W 200 
D 300 
D 300 
W 200 
D 100 
Then, the output should be: 400

In [ ]:

# Net_amount=[D 100, W 200, D 300, D 300, W 200, D 100]

total = 0

while True:

    Net_amount = input()
    if Net_amount == "":
        break
    else:
        Net_amount = Net_amount.split(" ")
        if Net_amount[0] == "D":
            total = total + int(Net_amount[1])
        elif Net_amount[0] == "W":
            total = total - int(Net_amount[1])

print(total)

D 100
W 150

-50

In [ ]:
l1=['D 100','W 200','D 300','D 300','W 100','W 100','D 100']
credit=0
debit=0
for i in l1:
  if i[0]=='D':
    credit=credit+int(i[2:])
  elif i[0]=='W':
    debit=debit+int(i[2:])  
print(credit)
print(debit)
print("net amount of a bank account",(credit-debit))

12. Write a program that accepts a sequence of whitespace separated words as input and prints 
the words after removing all duplicate words and sorting them alphanumerically. 
Suppose the following input is supplied to the program: (Marks-4) 
hello world and practice makes perfect and hello world again
 
Then, the output should be: again and hello makes perfect practice world

In [65]:
s="hello world and practice makes perfect and hello world again".split(" ")

empt=[]
for i in s:
  if i not in empt:
    empt.append(i)
empt=sorted(empt,reverse=False)   
# empt
print((" ").join(empt))

again and hello makes perfect practice world

13. Write a program that calculates and prints the value according to the given formula: 
Q = Square root of [(2 * C * D)/H] 
Following are the fixed values of C and H: 1.C is 50. H is 30. 
D is the variable whose values should be input to your program in a comma-separated 
sequence. (Marks-4) 
Example 
Let us assume the following comma separated input sequence is given to the program: 
100,150,180 
The output of the program should be: 
18,22,24

In [ ]:

import math

n=input().split(",")

for i in n:
  d=int(i)
  c=50
  h=30
  q=math.sqrt((2*c*d)/h)
  print(round(q))

100,150,180
18
22
24

14. You are required to write a program to sort the (name, age, height) tuples by ascending 
order where name is string, age and height are numbers. The tuples are input by console. 
The sort criteria is: (Marks-4) 
1: Sort based on name; 
2: Then sort based on age; 
3: Then sort by score. 


The priority is that name > age > score. 
If the following tuples are given as input to the program: 


Tom,19,80 
John,20,90 
Jony,17,91 
Jony,17,93 
Json,21,85 
Then, 

the output of the program should be: 


[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [ ]:

Tuple=input().split(" ")
Tuple=list(Tuple)

sorted(Tuple,key=lambda x:x[0])

Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85

['John,20,90', 'Jony,17,91', 'Jony,17,93', 'Json,21,85', 'Tom,19,80']

15. A robot moves in a plane starting from the original point (0,0). The robot can move toward 
UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the 
following: (Marks-4) 
UP 5 
DOWN 3 
LEFT 3 
RIGHT 2 
The numbers after the direction are steps. Please write a program to compute the distance 
from current position after a sequence of movement and original point. If the distance is a 
float, then just print the nearest integer.

In [ ]:

up=int(input("up-"))
down=int(input("Down-"))
left=int(input("left-"))
right=int(input("Right-"))

total_dist=up*down*left*right
origin=0
new_origin=origin+up-down-left+right

print("Total Distance Travel robo is ",total_dist)
print("Where is my robo,new origin position ",new_origin)

up-5
Down-3
left-3
Right-2
Total Distance Travel robo is  90
Where is my robo,new origin position  1

16. Write a program which accepts a sequence of comma separated 4 digit binary numbers as 
its input and then check whether they are divisible by 5 or not. The numbers that are 
divisible by 5 are to be printed in a comma separated sequence. (Marks-10) 
Example: 0100,0011,1010,1001 (0100=0*2^3+1*2^2+0*2^1+0*2^0=4) 
Then the output should be: 1010

In [6]:
num=input().split(",")

     
for i in num:
    result=0
    for idx,j in enumerate(i):
            result+=int(j)*(2**(len(i)-1-idx))
            
    if result %5==0:
            print(i)

0100,0011,1010,1001
1010

17. Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of 
a. (Marks-10) 
Suppose the following input is supplied to the program: 9 
Then, the output should be: 11106

In [ ]:
a=input()

n1 = a * 1
n2 = a * 2
n3 = a * 3
n4 = a * 4

total = int(n1) + int(n2) + int(n3) + int(n4)
print(total)

9
11106

In [7]:
# Ques 17

x=input('Number: ')
s=0
for i in range(1,5):
    print(x*i)
    s+=int(x*i)
print(s)

Number: 9
9
99
999
9999
11106

In [ ]:
# Ques 17

n=int(input())
str1='a+aa+aaa+aaaa'
str2=str1.replace('a',str(n))
l1=list(str2.split('+'))
l1
sum=0
for i in l1:
    sum=sum+int(i)
print(sum)

18. If all digits of a number n are multiplied by each other repeating with the product, the onedigit number obtained at last is called the multiplicative digital root of n. The number of 
times digits need to be multiplied to reach one digit is called the multiplicative persistence of 
n. (Marks-10) 
Example: 86 -> 48 -> 32 -> 6 (MDR 6, MPersistence 3) 
. 341 -> 12->2 (MDR 2, MPersistence 2) 
Using the function prodDigits() of previous exercise write functions MDR() and 
MPersistence() that input a number and return its multiplicative digital root and 
multiplicative persistence respectively

In [31]:
def Digit_product(n):

    prod=1
    while n>0:
        prod=prod*(n%10)
        n=n//10
    print(prod)

    if prod>10:
        Digit_product(prod)
    else:
        n=0
        print('MDR: {}'.format(prod))

n=int(input())
Digit_product(n)

86
48
32
6
MDR: 6

19. A website requires the users to input username and password to register. Write a program 
to check the validity of password input by users. Following are the criteria for checking the 
password: (Marks-10) 
  1. At least 1 letter between [a-z] 
  2. At least 1 number between [0-9] 
  3. At least 1 letter between [A-Z] 
  4. At least 1 character from [$#@] 
  5. Minimum length of transaction password: 6 
  6. Maximum length of transaction password: 12 
Your program should accept a sequence of comma separated passwords and will check them 
according to the above criteria. Passwords that match the criteria are to be printed, each 
separated by a comma. 
Example 
If the following passwords are given as input to the program: 
ABd1234@1,a F1#,2w3E*,2We3345 
Then, the output of the program should be: 
ABd1234@1

In [69]:
#ques19

x=input().split(',')
u=0
l=0
n=0
sp=0
special_char=['$','@','#']
prohibuted=False
for i in x:
    if len(i)>=6 and len(i)<=12:
        for char in i:
            if char.islower():
                l+=1
                #print('u')
            elif char.isupper():
                u+=1
                #print('v')
            elif char.isdigit():
                n+=1
                #print('w')
            elif char in special_char:
                sp+=1
                #print('y')
            else:
                prohibuted=True
                
        if u>0 and l>0 and n>0 and sp>0 and not prohibuted:
            print('password is valid: {}'.format(i))

ABd1234@1,a F1#,2w3E*,2We3345
password is valid: ABd1234@1

20. Longest Palindromic Substring (Marks-10) 
Eg:- Input=’abasadahdjssnsgfsfagsjdjjfsdfddfdsdf’ 
Output :- ‘sdfddfds’

In [66]:
s="abasadahdjssnsgfsfagsjdjjfsdfddfdsdf"
result=""
for i in range(len(s)-1):
    for j in range(i+1,len(s)):
        k=s[i:j]
        if k==k[::-1]:
            if len(k)>len(result):
                result=k
result

'sdfddfds'

In [37]:
str1="abasadahdjssnsgfsfagsjdjjfsdfddfdsdf"
l1=[]
for i in range(0,len(str1)+1):
  for j in range(i,len(str1)+1):
    x=str1[i:j]
    if x==x[::-1]:
      l1.append(x)

l2=""
res=0
for i in l1:
  if len(i)>=res:
    res=len(i)
    l2=(i)

print("Longest Palindromic Substring is ")
l2

Longest Palindromic Substring is

'sdfddfds'

In [ ]:
#ques20
inp='abasadahdjssnsgfsfagsjdjjfsdfddfdsdf'
n=0
x=''
v=[]
for i in range(len(inp)):
    for j in range(i,len(inp)):
        z=inp[i:j+1]
        if z==z[::-1]:
            #print(v)
            v.append(z)
            if n<len(z):
                x=z
                n=len(z)
print(x)  
w=[len(x) for x in v]
y=list(zip(w,v))
A=sorted(y,reverse=True)
print(A[0][1])